header
	img(src='images/node_rocks_logo.svg', alt='Node Rocks', width='200', height='350')
#content
	p.coming_soon Coming soon.
footer 
	span powered by 
	a(href='http://www.heroku.com/')
		img(src='images/heroku.svg', alt='heroku', width='70', height='21', valign='middle')