body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:#f17924;color:#fce4d3}
a{color:#00b7ff}
header{padding:100px 0 20px;}
header img{display:block;width:200;height:350;position:relative;margin:auto}
p.coming_soon{text-align:center}
footer{position:fixed;left:0;bottom:0;height:24px;width:100%;background:#fce4d3;color:#f17924;text-align:center;padding:8px 0;}
footer span{font-size:12px;position:relative;top:2px}
